<p id="notice"><%= notice %></p>

<table>
    <tr>
        <th>Lang</th>
        <th>Title</th>
        <th>Short</th>
    </tr>

    <% @book.book_translations.each do |t| %>
        <tr>
            <td><%= t.language %></td>
            <td><%= t.title %></td>
            <td><%= t.short %></td>
            <td><%= link_to 'Edit', edit_translation_book_path(@book, t.language) %></td>
            <td><%= link_to 'Destroy', destroy_translation_book_path(@book.id, t.language), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>


<%= link_to 'Back', books_path %>
<%= link_to 'Add', new_translation_book_path %>
